lista {

}

.custom-alert button.alert-button-group {
 width: 90%; 
 color: cyan;
 padding: 0%;
 padding-left: 0%;
 padding-left: 0%;
 padding-right: 0%;
}
.alert-md .alert-title{
    font-size: 16px;
    font-weight: bold;
text-align:left;
 }
 .alert-md .alert-message{
    padding-bottom: 0px;
     text-align:left;

 }

 div.alert-input-wrapper{
     padding-top: 0px;
     padding-bottom: 0px;
 }
 .alert-md .alert-sub-title{
font-size: 14px;
 }



